<header>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <%= image_tag "logo.svg", class: "logo" %>
  </div>

  <div class="col-sm-5">
    <!-- <% if current_user %>
      <p> Hi <%= current_user.email %> </p>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %> -->

    <nav>
      <ul>
        <li><a href="<%= hackathons_path %>">Hackathons</a></li>
        <% if current_user %>
          <li><a href="<%= account_path %>">My Account</a></li>
          <li><%= link_to "Log out", destroy_user_session_path, :method=> :post %></li>
        <% else %>
          <li><a href="<%= new_user_session_path %>">Log In</a></li>
          <li><a href="<%= new_user_registration_path %>">Sign Up</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
