<div class="row">



  <div class="col-sm-2"></div>

  <div class="col-sm-6">
    <% if flash[:error] %>
    <div class="alert alert-danger alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= flash[:error] %>
    </div>

    <% end %>
    <h2><%= @hackathon.title %></h2>
    <hr />
    <p><%= @hackathon.description %></p>
  </div>

  <div class="col-sm-2">
    <div class="hackathon_details--item">
      <h3>rsvp</h3>
      <hr />
      <% if current_user %>
        <% if @rsvp %>
          <%= render partial: "rsvps/edit", locals: { rsvp: @rsvp } %>
        <% else %>
          <%= render partial: "rsvps/new", locals: { hackathon_id: @hackathon.id} %>
        <% end %>
      <% else %>
        <p>You must be a registered user in order to rsvp for an event.</p>
      <% end %>
    </div>

    <% if current_user %>
      <div class="hackathon_details--item">
        <h3>referrals</h3>
        <hr />
        <p>
          Refer a friend and earn rewards for future events, with the following
          referral code: <strong><%= current_user.referral_code %></strong>.
        </p>
      </div>
    <% end %>

    <div class="hackathon_details--item">
      <h3>attendees</h3>
      <hr />
      <% if @hackathon.attendees.any? %>
        <%= render partial: "attendees", locals: { attendees: @hackathon.attendees } %>
      <% else %>
        <p> No attendees yet, be the first!
      <% end %>
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>
