<!DOCTYPE html>
<html>
  <head>
    <title>Mlh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag "logo.svg" %>
    <% if current_user %>
      <p> Hi <%= current_user.email %> </p>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
